/* Contêiner principal do node */
.react-flow__node.custom-node {
  position: relative;
  border-radius: 12px ;
  padding: 10px ;
  text-align: center ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid #1A1A1A; 
}

/* Imagem circular da pessoa */
.react-flow__node.custom-node .image-container {
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Bordas arredondadas (círculo) */
  overflow: hidden;
  margin: 0 auto 10px;
  border: 4px solid #4682b4; /* Borda de destaque ao redor da foto */
}

/* Imagem dentro do círculo */
.react-flow__node.custom-node .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz a imagem cobrir todo o espaço */
}

/* Retângulo com o cargo da pessoa */
.react-flow__node.custom-node .job-title-container {
    width: 100px;
    height: 30px;
    background-color: #4682b4; /* Cor de fundo para o retângulo */
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

/* Handle do ReactFlow */
.react-flow__node.custom-node .react-flow__handle {
  background-color: #4682b4;
  border-radius: 50%;
}

